$app-dark-primary: mat-palette($mat-grey, 900, 500, 900);
$app-dark-accent: mat-palette($mat-grey, 500);
$app-dark-warn: mat-palette($mat-grey, A200);

$app-dark-theme: mat-dark-theme( $app-dark-primary, $app-dark-accent, $app-dark-warn );
