$app-primary: mat-palette($mat-blue-grey, 800, 300, 900);
$app-accent: mat-palette($mat-blue-grey, 400);
$app-warn: mat-palette($mat-blue-grey, 800);

$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);
