@import '../../app.component.scss';

.action-button {
  margin-top: 6px;
}

.component-content {
  position: fixed;
  top: 64px;
  left: 0px;
  display: block;
  border: none;
  height: calc(100vh - 175px);
  width: calc(100% - 55px);
  padding: 25px;
  overflow: auto;
}

.mat-card {
  padding: 10px 15px 10px 15px !important;
}

.weather-content {
  min-width: 400px;
  padding: 5px;
  font-weight: 500;
}

.weather-card {
  padding-bottom: 5px !important;
}

.weather-description {
  font-size: .9em;
  max-width: 400px;
}

.weather-header {
  text-align: center;
}

.weather-time {
  font-size: .9em;
  font-weight: bold;
}

.weather-title {
  font-size: 1.5em;
  font-weight: 800 !important;
  padding-bottom: 5px;
}

.weather-temperature {
  font-size: 1.3em;
  font-weight: bold;
}

.weather-temperature-mini {
  font-size: .95em;
  font-weight: bold;
}

.skycon-array {
  text-align: center;
  padding-top: 10px;
}

.skycon-item {
  display: inline-block;
  text-align: center;
}
