<div class="component-content">

  <span class="component-title">
    Weather Data

    <span class="action-button">
      <a mat-raised-button
         color="warning"
         *ngIf="!useOpenWeather"
         (click)="useOpenWeatherApi(true)">
        Open Weather Api
      </a>
      <a mat-raised-button
         *ngIf="useOpenWeather"
         color="warning"
         (click)="useOpenWeatherApi(false)">
        Dark Sky Weather Api
      </a>
      <a mat-raised-button
         color="primary"
         (click)="refresh()">
        Refresh
      </a>
    </span>
  </span>

  <div *ngIf="isLoaded;else loading">
    <span class="component-detail">
      Local weather data for {{weatherData.city}}
    </span>
    <hr/>

    <div class="weather-card"
         [routerLink]="['/weather-panel/', item.day]"
         *ngFor="let item of dailyForecasts">

      <mat-card>

        <div class="weather-header">
          <mat-grid-list cols="2" rowHeight="25px">
            <mat-grid-tile [colspan]="1"
                           [rowspan]="1">
              <span class="weather-title">
                {{item.day}}
              </span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1"
                           [rowspan]="1">
              <span class="weather-detail">
                Low:
                <span class="weather-temperature">{{item.minimumTemperature}}&#176;</span>
                | High:
                <span class="weather-temperature">{{item.maximumTemperature}}&#176;</span>
              </span>
            </mat-grid-tile>
          </mat-grid-list>
        </div>

        <div class="skycon-array">
          <div class="skycon-item"
                *ngFor="let icon of item.skyCons; index as i">

            <app-sky-con height="104"
                         width="104"
                         [color]="item.temperatureColors[i]"
                         [icon]="icon">
            </app-sky-con>
            <br />
            <span class="weather-description">
              {{item.descriptions[i]}}
            </span>
            <br />
            <span class="weather-time">
               {{item.times[i]}} - 
            </span>
            <span class="weather-temperature-mini">
              {{item.temperatures[i]}}&#176;
            </span>
          </div>
        </div>

        <br />
        <hr />
        <mat-card-content>
          <div class="daily-content">
            <mat-grid-list cols="2" rowHeight="25px">
              <mat-grid-tile [colspan]="1"
                             [rowspan]="1">
                <span>
                  <strong>Precipitation:</strong>
                  {{item.totalPrecipitationVolume}}"
                </span>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="1"
                             [rowspan]="1">
                <span *ngIf="item.minWindspeed !== item.maxWindspeed;else else_content">
                  <span>
                    <strong>Winds:</strong>
                    {{item.windCompassDirection()}} {{item.minWindspeed}} to {{item.maxWindspeed}} Mph
                  </span>
                </span>
                <ng-template #else_content>
                  <span>
                    <strong>Winds:</strong>
                    {{item.windCompassDirection()}} at {{item.maxWindspeed}} Mph
                  </span>
                </ng-template>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
        </mat-card-content>
      </mat-card>

    </div>

  </div>

  <ng-template #loading>
    <br />
    <span class="component-detail">
      Loading data
    </span>
    <hr/>
    <br/>
    <mat-progress-spinner color="primary"
                          mode="indeterminate">
    </mat-progress-spinner>
  </ng-template>

</div>


