<mat-card>

  <mat-card-title>
    Error
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="isLoaded;else loading">
      
      <mat-grid-list cols="2"
                     rowHeight="36px">

        <mat-grid-tile colspan="1"
                       rowspan="1"
                       *ngFor="let detail of error.detailModel">
          <div class="flex-start">

            <mat-grid-list cols="2"
                           rowHeight="36px">
              <mat-grid-tile colspan="1"
                             rowspan="1">
                <label class="label flex-start">
                  {{detail.Key}}:
                </label>
              </mat-grid-tile>
              <mat-grid-tile colspan="1"
                             rowspan="1">
                <label class="flex-start">
                  {{detail.Value}}
                </label>
              </mat-grid-tile>
            </mat-grid-list>

          </div>
        </mat-grid-tile>

      </mat-grid-list>

      <hr class="bold-hr"/>
      <span class="label">
        Stack Trace:
      </span>
      <div class="stacktrace-content">
        <span class="line-wrap">
          {{error.stackTrace}}
        </span>
      </div>
      <hr class="bold-hr"/>
    </div>

    <ng-template #loading>
      <mat-progress-spinner color="primary"
                            mode="indeterminate">
      </mat-progress-spinner>
    </ng-template>

  </mat-card-content>

  <mat-card-actions>
    <a mat-raised-button
       color="primary"
       [routerLink]="['/admin/errors']">
      Back
    </a>
  </mat-card-actions>

</mat-card>
