<mat-card>

  <mat-card-title>
    Error
  </mat-card-title>

  <mat-card-content>

    <div *ngIf="isLoaded;else loading">
      {{error.message}}
      <br />
      {{error.errorLevel}}
      <br />
      {{error.source}}
      <br />
      {{error.additionalInformation}}
      <br />
      {{error.stackTrace}}
      <br />
      {{error.createdBy}}
      <br />
      {{error.createdDate}}
    </div>

    <ng-template #loading>
      <mat-progress-spinner
        color="primary"
        mode="indeterminate">
      </mat-progress-spinner>
    </ng-template>

  </mat-card-content>

  <mat-card-actions>
    <a mat-raised-button
       color="primary"
       [routerLink]="['/admin/errors']">
      Back
    </a>
  </mat-card-actions>

</mat-card>
