/* You can add global styles to this file, and also import other style files */

//@import '../node_modules/bootstrap/scss/bootstrap';

@import '~@angular/material/theming';
@include mat-core();

// import our custom themes
@import 'themes/dark-theme.scss';
@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';

.dark-theme {
  @include angular-material-theme($app-dark-theme);
}

.default-theme {
  @include angular-material-theme($app-theme);
}

.light-theme {
    @include angular-material-theme($app-light-theme);
}

// global styles
.app-notification {
  z-index: 100000;
  border-radius: .5em !important;
  background: whitesmoke;
  color: #37474F;
  border: 1px solid #37474F;
  font-weight: bolder;
  text-align: center;
}

.component-title {
  font-size: 1.25em !important;
  font-weight: bold;
}

ellipsis {
  text-overflow: ellipsis;
}

.expanded-mat-line {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.list-item {
  border: 1px solid black;
}

