/* You can add global styles to this file, and also import other style files */

//@import '../node_modules/bootstrap/scss/bootstrap';

@import '~@angular/material/theming';
@include mat-core();

// import our custom themes
@import 'themes/dark-theme.scss';
@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';

.dark-theme {
  @include angular-material-theme($app-dark-theme);
}

.default-theme {
  @include angular-material-theme($app-theme);
}

.light-theme {
    @include angular-material-theme($app-light-theme);
}

// global styles
.action-button {
  float: right;
}

.component-title {
  font-size: 1.3em !important;
  font-weight: bolder;
}

.component-detail {
  font-size: 1.1em !important;
  font-weight: bold;
}

ellipsis {
  text-overflow: ellipsis;
}

.expanded-mat-line {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.float-right {
  float: right;
}

.list-item {
  border: 1px solid black;
}

.page-title {
  font-size: 1.2em !important;
  font-weight: bolder;
  margin-bottom: 6px !important;
  padding-top: 6px !important;
}

/* Angular material overloads */
.mat-card {
  border-radius: 6px !important;
}


body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
