/* You can add global styles to this file, and also import other style files */

//@import '../node_modules/bootstrap/scss/bootstrap';

@import '~@angular/material/theming';
@include mat-core();

// import our custom themes
@import 'themes/dark-theme.scss';
@import 'themes/default-theme.scss';
@import 'themes/light-theme.scss';

.dark-theme {
  @include angular-material-theme($app-dark-theme);
}

.default-theme {
  @include angular-material-theme($app-theme);
}

.light-theme {
    @include angular-material-theme($app-light-theme);
}

// global styles
.accordion-content {
  padding: 15px;
  border-radius: .5em;
}

.action-button {
  float: right;
}

.center {
  text-align: center
}

.component-title {
  font-size: 1.3em !important;
  font-weight: bolder;
}

.component-detail {
  font-size: 1.1em !important;
  font-weight: bold;
}

.expanded-mat-line {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.float-right {
  float: right;
}

.label {
  font-weight: 700;
  padding-right: 5px;
}

.line-wrap {
  white-space: pre-line;
}

.list-item {
  border: 1px solid black;
}

.page-title {
  font-size: 1.2em !important;
  font-weight: bolder;
  margin-bottom: 6px !important;
  padding-top: 6px !important;
}

/* Angular material overloads */


.accordion-headers-align .mat-expansion-panel-header-title,
.accordion-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.mat-card {
  border-radius: 6px !important;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}

/* Html element overrides*/
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

hr {
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
