<div class="component-content">

  <p class="component-title">
    Errors
    <span class="action-button">
      <a mat-raised-button
         color="warning"
         (click)="clearAll()"
         *ngIf="!countIsZero">
        Clear All
      </a>
      <a mat-raised-button
         color="primary"
         (click)="refresh()">
        Refresh
      </a>
    </span>
  </p>

  <div *ngIf="isLoaded;else loading">
    <mat-nav-list>

      <mat-list-item class="list-item"
                     *ngFor="let error of errors">
        <div matLine
             class="expanded-mat-line"
             [routerLink]="['/admin/errors/', error.id]">
          {{error.createdDate  | date:"mediumDate":"UTC-12"}} {{error.createdDate  | date:"h:mm a":"UTC-12"}} - {{error.createdBy}} - {{error.message}}
        </div>
        <button mat-icon-button
                class="info-button"
                [routerLink]="['/admin/errors/', error.id]">
          <mat-icon>info</mat-icon>
        </button>
      </mat-list-item>

    </mat-nav-list>
  </div>
  <ng-template #loading>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </ng-template>


  <div *ngIf="countIsZero">
    <p class="component-detail">
      No errors found
    </p>
  </div>

</div>


