<div class="component-content">

  <p class="component-title">
    Errors
    <span class="action-button">
      <a mat-raised-button
         color="warning"
         (click)="clearAll()">
        Clear All
      </a>
      <a mat-raised-button
         color="primary"
         (click)="refresh()">
        Refresh
      </a>
    </span>
  </p>

  <div *ngIf="isLoaded;else loading">
    
    <div class="filter-header">
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
    </div>

    <div class="content-container mat-elevation-z8">

      <mat-table [dataSource]="dataSource" matSort>
        
        <ng-container matColumnDef="createdDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Created
          </mat-header-cell>
          <mat-cell *matCellDef="let error">
            {{error.createdDate | date:"mediumDate":"UTC-12"}} {{error.createdDate | date:"h:mm a":"UTC-12"}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="createdBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Created By
          </mat-header-cell>
          <mat-cell *matCellDef="let error">
            {{error.createdBy}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="message">
          <mat-header-cell *matHeaderCellDef mat-sort-header>
            Message
          </mat-header-cell>
          <mat-cell *matCellDef="let error">
            {{error.message}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="info">
          <mat-header-cell *matHeaderCellDef
                           class="center">
             Info
          </mat-header-cell>
          <mat-cell *matCellDef="let error">
            <button mat-icon-button
                    class="info-button">
              <mat-icon class="info-icon">
                info
              </mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let error; columns: displayedColumns;"
                 [routerLink]="['/admin/errors/', error.id]">
        </mat-row>

      </mat-table>

      <div style="display: block;">
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       [showFirstLastButtons]="true"
                       (page)="pageEvent = $event">
        </mat-paginator>
      </div>

    </div>

  </div>
  <ng-template #loading>
    <mat-progress-spinner
      color="primary"
      mode="indeterminate">
    </mat-progress-spinner>
  </ng-template>

</div>


