.component-content {
  padding-bottom: 70px;
}

.file-content {
  padding: 15px;
  border-radius: .5em;
}

.accordion-headers-align .mat-expansion-panel-header-title,
.accordion-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.accordion-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
