.alert {
  font-size: 1.1em;
  padding: 12px;
  border: 2px solid #424242;
  border-radius: 8px;
}

.alert-debug {
  background: #424242;
  color: whitesmoke;
  border: 2px solid #FF7043;
}

.alert-info {
  background: #E0E0E0;
}

.alert-warning {
  background: #FFA000;
}

.alert-error {
  background: #DD2C00;
}
