.alert {
  padding: 8px;
  z-index: 100000;
  border-radius: .5em;
  border: 1px solid black;
  font-weight: 900;
  font-size: 1.1em;
  text-align: left;
}

.alert-debug {
  background: #263238;
  color: whitesmoke;
  border: 1px solid #FF7043;
}

.alert-info {
  background: #455A64;
  color: whitesmoke;
}

.alert-warning {
  background: #FFA000;
}

.alert-error {
  background: #DD2C00;
}

.alert-details {
  font-size: .9em;
  font-weight: bold;
}
