.mat-grid-tile .mat-figure {
  justify-content: flex-start !important;
}


.accordion-content {
  justify-content: flex-start !important;
}

.accordion-wrapper {
  padding: 10px;
}

.action-button {
  margin-top: 6px;
}

.component-content {
  position: fixed;
  top: 64px;
  left: 0px;
  display: block;
  border: none;
  height: calc(100vh - 175px);
  width: calc(100% - 55px);
  padding: 25px;
  overflow: auto;
}

.graph-wrapper {
  height: 225px
}

.weather-description {
  font-weight: bold;
}

.weather-skycon {
  margin:-10px;
}

.weather-temperature-mini {
  font-weight: bold;
}

