<div class="component-content"
     #StepList>

  <span class="component-title">
    Weather Data

    <span class="action-button">
      <a mat-raised-button
         color="warning"
         routerLink="weather">
        Back
      </a>
      <a mat-raised-button
         color="accent"
         *ngIf="!useOpenWeather"
         (click)="useOpenWeatherApi(true)">
        Open Weather Api
      </a>
      <a mat-raised-button
         *ngIf="useOpenWeather"
         color="accent"
         (click)="useOpenWeatherApi(false)">
        Dark Sky Weather Api
      </a>
      <a mat-raised-button
         color="primary"
         (click)="refresh()">
        Refresh
      </a>
    </span>
  </span>

  <div *ngIf="isLoaded;else loading">
    <span class="component-detail">
      Local weather data for {{day}}
    </span>
    <hr />

    <h2 class="center">{{day}}</h2>
    <div class="graph-wrapper">
      <canvas #WeatherGraph></canvas>
    </div>

    <hr/>

    <div class="accordion-wrapper">
      <mat-accordion class="accordion-headers-align"
                     *ngFor="let item of todaysForecasts; let i = index">
      
        <mat-expansion-panel [expanded]="step === i"
                             (opened)="setStep(i)"
                             hideToggle="true"
                             class="list-item">

          <mat-expansion-panel-header>
            <mat-panel-title>
              <span class="weather-time">
                {{item.startDateTime | date:"mediumDate"}} {{item.startDateTime | date:"h:mm a"}}
              </span>
            </mat-panel-title>
            <mat-panel-description>
              <span class="weather-temperature-mini">
                {{item.minimumTemperature | number :'1.0-0'}}&#176; - {{item.maximumTemperature | number :'1.0-0'}}&#176;
              </span>
              <span class="weather-description">
                {{item.description}}
              </span>
              <mat-icon>
                <div class="weather-skycon">
                  <app-sky-con height="25"
                               width="25"
                               [icon]="item.skyCon">
                  </app-sky-con>
                </div>
              </mat-icon>
            </mat-panel-description>
          </mat-expansion-panel-header>

          <div (click)="hideInfo();"
               class="list-item">
            <mat-grid-list cols="2"
                           rowHeight="26px">
              
              <mat-grid-tile colspan="1"
                             rowspan="1"
                             *ngFor="let detail of item.detailModel">
                <div class="accordion-content">
                  <label class="label">
                    {{detail.Key}}:
                  </label>
                  <label>
                    {{detail.Value}}
                  </label>
                </div>
              </mat-grid-tile>

            </mat-grid-list>
          </div>

          <mat-action-row>
            <button mat-button
                    color="accent"
                    (click)="firstStep()"
                    *ngIf="i > 0">
              First
            </button>
            <button mat-button
                    color="warn"
                    (click)="prevStep()"
                    *ngIf="i > 0">
              Previous
            </button>
            <button mat-button
                    color="warn"
                    (click)="nextStep()"
                    *ngIf="i < todaysForecasts.length - 1">
              Next
            </button>
            <button mat-button
                    color="accent"
                    (click)="lastStep(todaysForecasts)"
                    *ngIf="i < todaysForecasts.length - 1">
              Last
            </button>
          </mat-action-row>

        </mat-expansion-panel>

      </mat-accordion>
    </div>

  </div>

    <ng-template #loading>
      <br />
      <span class="component-detail">
        Loading data
      </span>
      <hr />
      <br />
      <mat-progress-spinner color="primary"
                            mode="indeterminate">
      </mat-progress-spinner>
    </ng-template>

  </div>


