.content {
  //TODO this has to be auto sized
  border-radius: 0px;
  height: 846px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  width: 100%;
}

.dark-colors {

}

.default-colors {
  background: #E0E0E0 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.light-colors {
  background: whitesmoke !important;
}

.nav-button {
  margin: 0 3px 0 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
