<div [class]="themeClass">
  
  <mat-toolbar color="primary">
    <mat-toolbar-row>

      <button mat-button [routerLink]="['/dashboard']">
        {{title}}
      </button>

      <span class="toolbar-spacer"></span>

      <button mat-raised-button [routerLink]="['/weather']">
        Weather
      </button>
      <button mat-raised-button [routerLink]="['/admin']">
        Admin
      </button>
      <a  mat-raised-button href="http://localhost:58107/swagger">
        Web Api
      </a>
      <button mat-raised-button>
        Login
      </button>

    </mat-toolbar-row>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <ul>
    <li>
      <button mat-button (click)="setTheme('light')">Light</button>
      <button mat-button (click)="setTheme('dark')">Dark</button>
      <button mat-button (click)="setTheme('default')">Default</button>
    </li>
  </ul>


</div>
