<div [class]="themeClass">

  <mat-toolbar color="primary">
    
    <button mat-button
            routerLink="dashboard"
            class="nav-button">
      {{title}}
    </button>

    <span class="toolbar-spacer">
    </span>

    <button mat-button
            routerLink="weather"
            class="nav-button">
      Weather
    </button>

    <button mat-button
            routerLink="admin"
            class="nav-button"
            *ngIf="isAuthenticated">
      Admin
    </button>

    <a mat-button
       href="http://localhost:58107/swagger"
       class="nav-button"
       *ngIf="isAuthenticated">
      Web Api
    </a>

    <button mat-button
            class="nav-button"
            *ngIf="!isAuthenticated"
            (click)="onLoginClick()">
      Sign in
    </button>

    <button *ngIf="isAuthenticated"
            mat-icon-button
            [matMenuTriggerFor]="toolbarUserMenu">
      <mat-icon>person</mat-icon>
    </button>
    <mat-menu #toolbarUserMenu="matMenu">
      <button mat-menu-item
              (click)="onLogoutClick()">
        <mat-icon>
          power_settings_new
        </mat-icon>
        <span>
          Logout
        </span>
      </button>
    </mat-menu>

    <button mat-icon-button
            [matMenuTriggerFor]="toolbarSettingsMenu">
      <mat-icon>
        settings
      </mat-icon>
    </button>
    <mat-menu #toolbarSettingsMenu="matMenu">
      <button mat-menu-item
              (click)="setTheme('light')">
        Light
      </button>
      <button mat-menu-item
              (click)="setTheme('dark')">
        Dark
      </button>
      <button mat-menu-item
              (click)="setTheme('default')">
        Default
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-card [class]="colorTheme()">
    <mat-card-content>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>

  <div class="footer">
    <mat-toolbar color="primary">
      <span class="copyright">
        &#169; {{year}} - Jt76
      </span>
    </mat-toolbar>
  </div>

</div>


