.content {
  position: fixed;
  top: 64px;
  left: 0px;
  display: block;
  border: none;
  height: calc(100vh - 64px);
  width: calc(100% - 55px);
  padding: 25px;
}

.copyright {
  text-align: center;
  font-size: 12px;
  width: 100%;
}

.dark-colors {
  background: #616161 !important;
  color: whitesmoke;
}

.default-colors {
  background: #ECEFF1 !important;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.light-colors {
  background: #F5F5F5 !important;
}

.nav-button {
  margin: 0 2px 0 2px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
