.admin-image {
  background-image: url('../../../assets/images/jt76-avatar.jpg');
  background-size: cover;
}

.component-content {
  position: fixed;
  top: 64px;
  left: 0px;
  display: block;
  border: none;
  height: calc(100vh - 64px);
  width: calc(100% - 100px);
  padding: 15px 25px 15px 25px;
}

.mat-card-avatar{
  height: 52px;
  width: 100px;
}

.side-nav {
  position: fixed;
  top: 64px;
  left: 0px;
  width: 100px;
  height: calc(100vh - 64px);
  border-right: 1px solid black;
}

.side-nav-button {
  width: 100px;
  border-bottom: 1px solid black;
}

.side-nav-title {
  margin: 0px;
  padding: 3px;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid black;
}
